.button-custom {
    -fx-background-color: #F9B772; /* Green */
    -fx-color: white;
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 35px;
    -fx-margin: 4px 2px;
    -fx-cursor: pointer;
    -fx-text-fill: black;
    -fx-border-radius: 25px;
}

.button-custom:hover {
    -fx-cursor: hand;
    -fx-background-color: #E8A661;
}
.forgot-password {
    -fx-cursor: pointer;

}
.forgot-password:hover {
    -fx-cursor: hand;
    -fx-text-decoration: underline;

}