.info_page{
    -fx-background-color: #BAB1A0;
}

.book_overview{
    -fx-background-color: #F0E9DD;
    -fx-border-style: solid;
}

.borrow_history{
    -fx-background-color: #F0E9DD;
    -fx-border-color: transparent;
}

.book_detail{
    -fx-background-color: #F0E9DD;
    -fx-border-style: solid;
}

.book_description{
    -fx-background-color: #F0E9DD;
}

.book_description .scroll-bar{
    -fx-opacity: 0;
}

.book_description .scroll-bar:hover{
    -fx-opacity: 1;
}

