@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../Font/Montserrat-Medium.ttf');
}

.inner_layer {
    -fx-background-radius: 25px;
    -fx-background-color: BCB09E;
}

.user_field{
    -fx-background-radius: 15px;
    -fx-pref-width: 289;
    -fx-pref-height: 66;
}

.button-custom{
    -fx-background-radius: 15px;
    -fx-pref-width: 289;
    -fx-pref-height: 66;
}

.button-custom:hover {
    -fx-cursor: hand;
    -fx-background-color: #a6a6a6;
}

.sign_up_text:hover{
    -fx-cursor: hand;
}

.vietnam_btn:hover{
    -fx-cursor: hand;
}

.usa_btn:hover{
    -fx-cursor: hand;
}
