.menu_pane{
    -fx-background-color: #BCB09E;
}

.app_logo:hover{
    -fx-cursor: hand;
}

.menu_button:hover{
    -fx-background-color: #DCE0E2;
    -fx-cursor: hand;
}

.log_out_button:hover {
    -fx-background-color: #DCE0E2;
    -fx-cursor: hand;
    -fx-text-fill: red;
}

.header_pane{
    -fx-background-color: #E6DDD4;
}

.search_btn{
    -fx-background-color: #F0E9DD;
    -fx-background-radius: 20px;
    -fx-opacity: 0.9;
    -fx-border-color: transparent;
}

.search_icon:hover{
    -fx-cursor: hand;
}

.filter_field{
    -fx-background-color: #F0E9DD;
    -fx-background-radius: 15px;
    -fx-opacity: 0.9;
}

.filter_category{
    -fx-background-color: white;
    -fx-background-radius: 20px;
}

.filter_category:hover{
    -fx-background-color: #DCE0E2;
    -fx-cursor: hand;
}

.filter_btn:hover{
    -fx-cursor: hand;
}

.scroll_pane{
    -fx-background-color: #F0E9DD;
}

.scroll_pane .scroll-bar{
    -fx-opacity: 0; /* Ẩn thanh trượt */
    -fx-padding: 0;
}

.scroll_pane .scroll-bar:hover{
    -fx-opacity: 1;
}

.vietnam_btn:hover{
    -fx-cursor: hand;
}

.usa_btn:hover{
    -fx-cursor: hand;
}