.info_page{
    -fx-background-color: #BAB1A0;
}

.book_overview{
    -fx-background-color: #F0E9DD;
    -fx-border-radius: 15px;
}

.borrow_history{
    -fx-background-color: #F0E9DD;
    -fx-border-color: transparent;
}

.book_detail{
    -fx-background-color: #F0E9DD;
}

.addBook_btn:hover{
    -fx-cursor: hand;
    -fx-background-color: #a6a6a6;
}

.sendCmt_btn:hover{
    -fx-cursor: hand;
}

.scroll-pane .scroll-bar {
    -fx-opacity: 0; /* Ẩn thanh trượt */
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:hover {
    -fx-opacity: 1; /* Hiện thanh trượt khi hover */
}

