.update_field{
    -fx-background-color: #F0E9DD;
}

.user_image{
    -fx-background-color: #d9d9d9;
    -fx-border-style: dashed;
    -fx-border-color: #ABA8A6;
    -fx-border-width: 2px;
}

.addBook_btn:hover{
    -fx-cursor: hand;
    -fx-background-color: #a6a6a6;
}